/******************************************************************************
 *	name: TestPHP
 *	version: 0.1.0
 *	author: Entire Studio (www.entire.pl)
 *******************************************************************************
 *	Table of contents
 *	1. Imports
 *		1.1 Parts of Bootstrap
 *	2. Custom variables
 *	3. Error404 page
 ******************************************************************************/

/*******************************************************************************
 * 1. Imports
 ******************************************************************************/

/***	1.1 Parts of Bootstrap ***/
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/normalize.less";
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/grid.less";

/*******************************************************************************
 * 2. Custom variables
 ******************************************************************************/

@error404-container-width: 450px;


/*******************************************************************************
 * 3. Error404 page
 ******************************************************************************/

.Error404 {
	.container {
		margin-top: 30px;
		border: 1px solid #CCCCCC;
		border-radius: 5px;
		@media (min-width: @screen-xs-max) {
			width: @error404-container-width;
		}
	}
}