/******************************************************************************
 *	name: TestPHP
 *	version: 0.1.0
 *	author: Entire Studio (www.entire.pl)
 *******************************************************************************
 *	Table of contents
 *	1. Imports
 *		1.1 Bootstrap
 *		1.2	Font Awesome
 *	2. Custom variables
 *	3. Styles
 ******************************************************************************/

/*******************************************************************************
 * 1. Import
 ******************************************************************************/

/***	1.1 Bootstrap ***/
@import "bootstrap/bootstrap.less";

/***	1.2 Font Awesome ***/
@import "font-awesome/font-awesome.less";

/*******************************************************************************
 * 2. Custom variable
 ******************************************************************************/

@img-path:											~"../img/sitemap/";

/*******************************************************************************
 * 3. Style
 ******************************************************************************/

urlset {
	.container();
	url {
		.make-row();
		loc,
		lastmod,
		changefreq,
		priority {
			display: block;
			padding-left: 20px;
			height: 20px;
			padding-left: 20px !important;
			background-color: transparent;
			background-attachment: scroll;
			background-position: 0px 50%;
			background-repeat: no-repeat;
			font: normal 11px/20px Tahoma,Verdana,Arial,sans-serif;
			color: #333333;
		}
		loc {
			background-image: url('@{img-path}loc.png');
			.make-xs-column(12);
			.make-sm-column(6);
		}
		lastmod {
			background-image: url('@{img-path}lastmod.png');
			.make-xs-column(12);
			.make-sm-column(2);
		}
		changefreq {
			background-image: url('@{img-path}changefreq.png');
			.make-xs-column(12);
			.make-sm-column(2);
		}
		priority {
			background-image: url('@{img-path}priority.png');
			.make-xs-column(12);
			.make-sm-column(2);
		}
	}
}