/******************************************************************************
 *	name: TestPHP
 *	version: 0.1.0
 *	author: Entire Studio (www.entire.pl)
 *******************************************************************************
 *	Table of contents
 *	1. Imports
 *		1.1 Bootstrap
 *		1.2 Font Awesome
 *	2. Styles
 ******************************************************************************/

/*******************************************************************************
 * 1. Imports
 ******************************************************************************/

/***	1.1 Bootstrap ***/
@import "bootstrap/bootstrap.less";

/***	1.2 Font Awesome ***/
@import "font-awesome/font-awesome.less";

/*******************************************************************************
 * 2. Styles
 ******************************************************************************/

th a {
	&,
	&:active,
	&:hover {
		color: @text-color;
		text-decoration: none;
		outline: none;
	}
}

.fa-sort,
.fa-sort-asc,
.fa-sort-desc {
	padding-right: 10px;
	color: @brand-primary;
}

#Overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	.size(100%, 100%);
	background-color: rgba(128, 128, 128, 0.75);
	z-index: 9;
	cursor: pointer;
}

#Add {
	display: none;
	position: fixed;
	top: 10%;
	left: 50%;
	width: 600px;
	min-height: 400px;
	margin-left: -300px;
	padding: 0 20px 20px;
	background-color: #FFFFFF;
	border-radius: 5px;
	z-index: 10;

}