urlset { display: block; margin: 10px; cursor: default; }
url { display: block; height: 20px; margin: 5px 0px; }
url:hover { display: block; height: 20px; margin: 5px 0px; background-color: #F2F2F2; }
loc, lastmod, changefreq, priority { display: block; float: left; height: 20px; padding-left: 20px; background: transparent url('../img/sitemap/loc.png') scroll 0px 50% no-repeat; font: normal 11px/20px Tahoma,Verdana,Arial,sans-serif; color: #333333; }
loc { min-width: 250px; clear: both; background-image: url('../img/sitemap/loc.png'); }
lastmod { width: 65px; background-image: url('../img/sitemap/lastmod.png'); }
changefreq { width: 40px; background-image: url('../img/sitemap/changefreq.png'); }
priority { width: 25px; background-image: url('../img/sitemap/priority.png'); }